* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* ---------------- JS CONNETCION ---------------- */
.shadow {
    /* opacity: 0.5; */
    filter: brightness(50%);
}

.hide {
    visibility: hidden;
}

/* ---------------- DESIGN ---------------- */

